*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #13141c;
}
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    background: var(--primary-color);
    color: #fff;
    display: flex;
    width: 100vw;
    padding: 1.8rem 1rem;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header img{
    width: 75%;
    max-width: 227px;
    margin-bottom: 3rem;
} 
.game-row{
    display: flex;
    gap: .8rem;
    margin-bottom: .8rem;
    justify-content: center;
}
.tile{
    width: calc(3.5rem + 4vw);
    height: calc(3.5rem + 4vw);
    color: white;
    background: #191a24;
    border: 2px solid #414458;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
}
.tileLetter{
    width: calc(3.5rem + 4vw);
    height: calc(3.5rem + 4vw);
    color: white;
    background: #101018;
    border: 2px solid #414458;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    max-width: 6.6rem;
    max-height: 6.6rem;
}
.green{
    background: #57ac57;
}
.yellow{
    background: #e9c601;
}
.gray{
    background: #09090e;
}
.keyboard{
    display: flex;
    gap: .6rem;
    max-width: 400px;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: center;
}
.keyBoardLetter{
    font-size: 2rem;
    background: #3a3b41;
    padding: 1rem;
    cursor: pointer;
}
.keyBoardLetter:hover{
    background: #2b2d36;
}
.footer {
    width: 98%;
    position: absolute;
    bottom: 1rem;
    text-align: center;
    font-size: 1.3rem;
}
.footer a{
    color: rgb(189, 189, 189);
    text-decoration: none;
}
a:hover{
    color: rgb(119, 119, 119);
}
.alerts{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e4151500;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alerts div{
    width: 95%;
    height: 90%;
    max-height: 564px;
    max-width: 400px;
    background:#10101a;
}
.alerts h2{
    text-align: center;
    margin-top: 8rem;
    font-size: 3rem;
}
.EndOftheGame{
    display: flex;
    flex-direction: column;
}
.alerts p{
    width: 30rem;
    text-align: center;
   padding: 2rem;
   background: #57ac57;
   margin-top: 8rem;
   cursor: pointer;
   font-size: 1.8rem;
   align-self: center;
}

.alerts svg {
    width: 2rem;
    position: relative;
    top: 1rem;
    left: 90%;
    cursor: pointer;
}
.none{
    display: none;
}